{
    "parserOptions": {
        "ecmaVersion": 2020,
        "parser": "@typescript-eslint/parser"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["react", "react-hooks", "@typescript-eslint"],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off"
    },
    "env": {
        "browser": true
    }
}